:root {
  background-color: blanchedalmond;
  color: darkslategrey;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

math-test {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    padding: 1rem;
    background: darkslategray;
  }
  main {
    width: 100%;
    display: grid;
    place-items: center;
    flex: 1;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    padding: 1rem;
    background: darkslategray;
  }
}

math {
  font-size: 4rem;
}
mo {
  color: lightslategrey;
}

nav {
  display: flex;
  gap: 0.5rem;

  a {
    text-decoration: none;
    background: lightslategrey;
    color: gainsboro;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  a[aria-current="page"] {
    background: deepskyblue;
    color: white;
  }
  a[aria-current="page"] ~ a {
    color: gainsboro;
  }
  a:hover {
    opacity: 0.8;
  }
}
