:root {
  --color-background: blanchedalmond;
  --color-text: darkslategrey;
  --color-accent: cadetblue;

  /* Grayscale */
  --note-gray-bg: #f4f4f4;
  --note-gray-light: #cfcfcf;
  --note-gray-text: #a9a9a9;

  /* Light Blue */
  --note-blue-bg: #e0f7fa;
  --note-blue-light: #b3d9ff;
  --note-blue-text: #0066cc;

  /* Fresh Green */
  --note-green-bg: #e8f5e9;
  --note-green-light: #81c78d;
  --note-green-text: #00695c;

  /* Light Pink */
  --note-pink-bg: #f8e6fa;
  --note-pink-light: #d18cff;
  --note-pink-text: #8e44aa;

  /* Light Orange */
  --note-orange-bg: #fff3c5;
  --note-orange-light: #ffa726;
  --note-orange-text: #d34c00;

  /* Light Purple */
  --note-purple-bg: #ede8f6;
  --note-purple-light: #a57bff;
  --note-purple-text: #5c3c95;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/** Shared Layout */

body > header {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

main {
  inline-size: 100%;
  max-inline-size: calc(800px + 20vi);
  margin-inline: auto;
  padding-inline: 1rem;
}

body > footer {
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

/* MathML */

math {
  font-size: 4rem;
}

mo {
  color: var(--note-gray-text);
}

mfrac:has(> :nth-child(2):last-child) mn {
  font-size: 0.9em;
}

[contenteditable] {
  background: black;
  color: white;
  min-width: 3ch;
  text-align: center;
  border-radius: 6px;
  outline-offset: 4px;
}

.correct {
  background-color: var(--note-green-bg);
  color: var(--note-green-text);
  outline-color: var(--note-green-light);
}
.incorrect {
  background: red;
  color: white;
  outline-color: var(--note-orange-light);
}
