:root {
  background-color: blanchedalmond;
  color: darkslategrey;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 0;
  min-height: 100%;
}
math-exercises {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  padding: 1rem;
  background-color: azure;
}
main {
  width: 100%;
  display: grid;
  place-items: center;
  flex: 1;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  padding: 1rem;
  background-color: azure;
}
math {
  font-size: 4rem;
}
mo {
  color: deepskyblue;
}
nav {
  display: flex;
  gap: 0.5rem;
}
nav > a {
  text-decoration: none;
  background: white;
  color: deepskyblue;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
nav > a[aria-current="page"] {
  background: deepskyblue;
  color: white;
}
nav > a[aria-current="page"] ~ a {
  color: gainsboro;
}
nav > a:hover {
  opacity: 0.8;
}
